.welcome {
  .no-list();
  .make-row();
  li {
    margin-bottom: (@grid-gutter / 2);
    .date,
    .icon,
    .name {
      display: block;
    }
    .date {
      font-size: larger;
      small {
        display: block;
        font-size: smaller;
      }
      margin-bottom: .5em;
    }
    .icon {
      font-size: 300%;
      line-height: 1.4;
      color: @color-dominant;
    }
    .name {      
      font-size: larger;      
    }
    .btn {
      padding: 1em;     
      // max-width: 13em;
      // margin-left: auto;
      // margin-right: auto;
      // border-radius: 50%;
    }

    .make-xs-column(4);
    // @media (min-width: @screen-sm-min) {
    //   .make-sm-column(4);
    // }
  }
  // changed the space between boxes on small screens 
  @media (max-width: @screen-tablet-max) {
    margin-left: 0;
    margin-right: 0;
    li {
      padding-left:  0;
      padding-right: 0; 
      margin-right: -@border-width;
      &:hover {
        z-index: 2;
      }
      &:first-child .btn {
        border-top-left-radius: @border-radius;
        border-bottom-left-radius: @border-radius;
      }
      &:last-child .btn {
        border-bottom-right-radius: @border-radius;
        border-top-right-radius: @border-radius;
      }
      .btn {
        padding: .5em;
        border-radius: 0;             
      }
      .name {
        font-size: medium;
      }
    }
  }
}

.goal-list {
  .no-list();
  .make-row();
  text-align: center;
  strong {
    text-transform: uppercase;
    font-weight: inherit;
  }
  li {
    .make-sm-column(4);
    &:last-child {
      p {
        border-bottom: 0;
        padding-bottom: 0;
      }
    }
  }
  p {
    max-width: 20em;
    .center-block();
    @media (max-width: @screen-phone-max) {
      padding-bottom: @leading;
      border-bottom: 1px solid @color-red;
    }
  }
  img {
    max-width: 240px;
    .center-block();
  }
}

@media (min-width: @screen-phone) {
  .venue-thumbnail {
    float: right;
    margin-left: @padding-h;
  }
}

[data-toggle="dropdown"]:after {
  // .fa();
  // content: "@{fa-var-caret-down}";
  width: 1em;
  text-align: center;
}

.remove-from-cart {
  opacity: .75;
  font-size: smaller;
  font-weight: normal;

  tr:hover & {
    opacity: 1;
  }
}

.dropdown { 
  margin-left: .2em;  
  z-index:110;  
}

.dropdown-list {  
  background-color: rgb(255, 192, 110);
  position: absolute;  
  z-index: 100;
  display: none;
  margin-left: .5rem;
  padding: .5rem 0 .5rem;
  border-radius: @border-radius;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.45);
}

.is_open {
  display: block;
  background-color: rgb(255, 192, 110);
  position: absolute;  
  z-index: 100;  
  padding: .5rem 0 .5rem;
  border-radius: @border-radius;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.45);
  left: 0;
  border: 2px solid @color-orange;
}

.dropdown-options {
  list-style: none;
  margin: 0;
  padding: .5rem 0 0 0; 
  a {
    color: @color-red;
    display: block;
    padding: .5rem 1rem;
    cursor: pointer;
    font-size: smaller;
    white-space: nowrap;    
  } 
  a:hover {
    background: rgba(241, 90, 36, 0.5);
    text-decoration: none;   
  }
}

.dropdown-toogle {
  cursor: pointer; 
  content: "\25BC"
}

.list-trainings {
  .no-list();
  counter-reset: trainings;
  > li {
    
  }
  @media (min-width: @screen-breakpoint) {
    display: table;
    > li {
      display: table-cell;
      width: 25%;
      padding-left: .5rem;
      padding-right: .5rem;
    }
  }
  @media (max-width: @screen-breakpoint-max) {
    > li {
      margin-bottom: @leading;
    }
  }
}

.training-snippet {
  padding: @padding-large;
  border-radius: @border-radius-large;
  color: #fff;
  background-color: #F56F3F; // @color-orange-light;
  counter-increment: trainings;
  &:before {
    content: counter(trainings);
    display: block;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    border-radius: 50%;
    color: @color-orange;
    text-align: center;
    font-size: larger;
    font-weight: 600;
    background-color: @body-bg;
  }
  a {
    color: inherit;
    &:hover {
      text-decoration: underline;
    }
  }
  @media (max-width: @screen-breakpoint-max) {
    position: relative;
    padding-left: (1rem + @padding-h-large);
    &:before {
      position: absolute;
      top: @padding-v-large;
      left: 0;
      margin-left: -1rem;
    }
  }
  @media (min-width: @screen-breakpoint) {
    margin-top: 1rem;
    text-align: center;
    &:before {
      .center-block();
      margin-top: -(1rem + @padding-v-large);
      margin-bottom: @padding-v-large;
    }
  }
}

.training-title {
  font-size: @font-size-h5;
  color: inherit;
  line-height: @line-height-heading;
  letter-spacing: -.01em;
  margin-top: .4rem;
  @media (min-width: @screen-breakpoint) {
    min-height: (3em * @line-height-heading);
    margin-top: 0;
    margin-bottom: 0;
  }
}

.training-details {
  @dark: mix(@color-orange-light, @color-purple);
  dt {
    color: @dark; // @body-bg;
    text-transform: uppercase;
    font-size: 90%;
    font-weight: bold;
    letter-spacing: -.01em;
  }
  dd {
    margin-left: 0;
  }
  @media (min-width: @screen-breakpoint) {
    min-height: (5em * @line-height-body + @leading);
    &:before {
      content: "";
      display: block;
      max-width: 8rem;
      margin: @padding-v auto;
      height: @border-width;
      background-color: @dark;
    }
    dd {
      margin-bottom: (@leading / 2);
    }
  }
}