.avatar-preview { 
  float:left; 
  width: 5rem; 
  margin-right: .5rem;
  margin-bottom: 1rem;
  img {   
    .img-width();            
  }
}
.avatar-options { 
  font-size: smaller;
  .no-list();  
  overflow: hidden;  
}

.remove-speaker {
  .no-button();
  float: right;
  font-size: small;
  font-weight: normal;
  font-style: italic;
  
  &:after {
    .icon();
    content: @icon-close;
    margin-left: .2em;
    font-size: 180%;
    vertical-align: middle;
  }
}

.input-box.is_focused {
    background-color: #eee;
}

.talk {
  margin: (@leading * 2) 0;
  padding-bottom: @padding-v-huge;
  border-bottom: @border;
  &:last-child {
    border-bottom: 0;
  }

  .talk-title {
    margin-top: 0;
    margin-bottom: (@leading / 2);
    font-size: @font-size-h4;
    color: inherit;
    line-height: @line-height-heading;
    letter-spacing: -.01em;
    color: @color-orange;
  }
  .talk-description {
    margin-bottom: @leading;
    // max-height: (@line-height-body * 3em);
    // overflow: hidden;
  }
  [aria-expanded="false"] {
    position: relative;
    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 3em;
      background: linear-gradient(to top, @body-bg, transparent);
    }
  }
  [data-readmore-toggle] {
    text-align: center;
    font-size: smaller;
    color: mix(@body-color, @body-bg, 70%);
  }
  .speaker {
    overflow: auto;
    margin-top: (@leading / 2);
    display: table;

    .speaker-avatar {
      display: table-cell;
      vertical-align: middle;
    }
    .speaker-details {
      display: table-cell;
      vertical-align: middle;
    }
  }
  .speaker-avatar {
    border-radius: 50%;
    border: @border;
    overflow: hidden;
    margin-right: 1rem;
    float: left;
    width: 4rem;
    img {
      display: block;  
      width: 100%;
      height: auto;
    }  
  }
  .speaker-details {
    overflow: auto;
    color: mix(@body-color, @body-bg, 70%);
    font-size: smaller;
  } 
  .speaker-name {
    margin-bottom: 0;
    font-size: @font-size-h6;
    font-weight: 400;
  }
  .speaker-social {
    &:extend(.list-inline all);
    > li {
      margin-left: @padding-h-small;
      margin-right: @padding-h-small;
    }
    margin-bottom: 0;
    a {
      color: inherit;
      &:hover,
      &:focus {
        color: #fff;
      }
    }
  }
}